ul.ff-playground {
    border: 1px solid lightgray;
    width: 136px;
    height: 136px;
    list-style: none;
    padding: 2px;
    margin: 15px;
}

ul.ff-playground li {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    outline: 1px solid lightgray;
    padding: 0;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0,0,0,0.05);
    margin: 2px;
}

ul.ff-playground li.empty {
    outline: none;
    background-color: transparent;
}

ul.ff-playground li.active {
    outline: 1px solid green;
}

ul.ff-playground li.active.invalid {
    outline: 1px solid red;
}
